<html>
<head>
  <link rel="stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>

<h1>Cryptocurrencies</h1>


<div>
<table class="center ;margin-left:auto;margin-right:auto;">
  <tr>
    <th>{{header.name}}</th>
    <th>{{header.symbol}}</th>
    <th>{{header.price}}</th>
    <th>{{header.marketCap}}</th>
  </tr>

  {% for coin in data %}
  <tr>
    <td>{{coin.name}}</td>
    <td>{{coin.symbol}}</td>
    <td>{{coin.price}}</td>
    <td>{{coin.marketCap}}</td>
  </tr>
  {% endfor %}
</table>

</body>

</html>